.DataContainer {
  display: flex;
  justify-content: space-between;

}

.LeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.CenterContainer {
  display: flex;
  flex-direction: column;

}

.RightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.FlightVariables {
  display: flex;
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.BottomFeed {
  display: flex;
  width: 400px;
  height: 400px;
  border: 0;
  opacity: 1.0;
}

.DepthMap {
  display: flex;
  text-align: center;
  width: 200px;
  height: 350px;
  border: none;
}

.AttitudeFeed {
  display: flex;
  text-align: center;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.SensorFeed {
  display: flex;
  width: 200px;
  height: 200px;
  border: 0;
}

.FrontFeed {
  /*margin-top: -220px;  this is half the height of your div
  margin-top: -50px;
  margin-left: -100px;
  */
  width: 600px;
  height: 500px;
  border: 1px solid black;
}


.container {
  display: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.heading {
  text-align: center;

}

#bottomFeed {
  -webkit-user-select: none;
  cursor: zoom-out;
  width: 100%;
  height: 100%;
}
