.DataContainer {
  display: flex;
  justify-content: space-between;

}

.LeftContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.CenterContainer {
  display: flex;
  flex-direction: column;

}

.RightContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.FlightVariables {
  display: flex;
  text-align: center;
  width: 150px;
  height: 150px;
  border: 1px solid black;
}

.BottomFeed {
  display: flex;
  text-align: center;
  width: 200px;
  height: 350px;
  border: 1px solid black;
}

.DepthMap {
  display: flex;
  text-align: center;
  width: 200px;
  height: 350px;
  border: 1px solid black;
}

.AttitudeFeed {
  display: flex;
  text-align: center;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.SensorFeed {
  display: flex;
  text-align: center;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.FrontFeed {
  /*margin-top: -220px;  this is half the height of your div
  margin-top: -50px;
  margin-left: -100px;
  */
  width: 600px;
  height: 500px;
  border: 1px solid black;
}
