root = true

[*.{cpp, h, js, css, html}]
end_of_line = lf
charset = utf-8
insert_final_newline = true
indent_size = 4
indent_style = space

[*.{rb, py}]
end_of_line = lf
charset = utf-8
insert_final_newline = true
indent_size = 4
indent_style = space
