# Auto detect text files and perform LF normalization
* text=auto

*.conf text eol=lf filter=spabs
*.txt text eol=lf filter=spabs
*.h text eol=lf filter=spabs
*.c text eol=lf filter=spabs
*.cpp text eol=lf filter=spabs
*.tex text eol=lf filter=spabs
*.bib text eol=lf filter=spabs
*.md text eol=lf filter=spabs

*.sh text eol=lf filter=spabs
*.py text eol=lf filter=spabs
*.rb text eol=lf filter=spabs
*.js text eol=lf filter=spabs
*.html text eol=lf filter=spabs
*.css text eol=lf filter=spabs
*.svg text eol=lf filter=spabs

*.eps binary
*.png binary
*.pdf binary


# Remove third party from linguist
/Code/thirdparty* linguist-vendored
